@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

darkreader {
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
  border-color: #736b5e;
  color: #e8e6e3;
  background-color: #181a1b !important;

  color-scheme: dark !important;
}

.success {
  background-color: green;
}

/* ::-webkit-scrollbar { */
/*     background-color: #202324; */
/*     color: #aba499; */
/* } */
/* ::-webkit-scrollbar-corner { */
/*     background-color: #181a1b; */
/* } */
/* ::-webkit-scrollbar-thumb { */
/*     background-color: #454a4d; */
/* } */
/* ::selection { */
/*     background-color: #004daa !important; */
/*     color: #e8e6e3 !important; */
/* } */

html {
  color-scheme: dark;
}

body {
  /* background-color: whitesmoke; */

  /* warm colors. (taken from darkreader) */
  /* background-color: #181a1b; */
  /* color: #e8e6e3; */

  /* perfectly neutral colors. (taken from microsoft docs) */
  background-color: #171717;
  color: #e6e6e6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family:
    Segoe UI,
    SegoeUI,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

code {
  font-family:
    JetBrains Mono,
    monospace;
  font-size: 1rem;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

nav a {
  padding: 0.5rem 0.5rem;
}
nav a:first-child {
  padding-left: 0;
}

a {
  /* padding-right: 1rem; */

  /* darkviewer blue */
  /* color: #3391ff; */

  /* microsoft docs blue */
  color: #75b6e7;

  /* google fonts blue */
  /* color: #8ab4f8; */

  text-decoration: none;
}
a:hover {
  color: #278cda;
  text-decoration: underline;
}
/* a:visited { */
/*   color: #ac7ee1; */
/* } */

input {
  min-width: 240px;
}

.error {
  color: #efd9fd;
  background-color: #3b2e58;
  border: 1px solid #3b2e58;
  padding: 0.25rem 0.5rem;
}

a[aria-current] {
  font-weight: bold;
}

.outlet {
  border: 1px dotted grey;
}

.contact,
.contact-list {
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  padding: 1rem;
}

.fadeIn {
  animation: 200ms fadeIn ease;
}

.fadeOut {
  animation: 0ms fadeOut linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.slideIn {
  animation: 0.5s slideIn cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slideOut {
  animation: 0.25s slideOut forwards;
}

@keyframes slideIn {
  from {
    transform: translate(10vw, 0);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes slideOut {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-10vw, 0);
  }
}

.slideInBack {
  animation: 0.25s slideInBack forwards;
}

.slideOutBack {
  animation: 0.25s slideOutBack forwards;
}

@keyframes slideInBack {
  from {
    transform: translate(-100vw, 0);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes slideOutBack {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(100vw, 0);
  }
}
